 halaman hubungi kami */ 
 .mt-115 {
  margin-top: 115px;
}
label {
  font-family: pop-sembold;
  color: #052448;
}
.form-control {
  border-radius: 7px;
  padding: 23px 12px;
  margin-bottom: 25px;
  border: 1.2px solid #DADADA;
  font-family: nunito;
  color: #052448;
  font-size: 14.5px;
}
.form-control:active,.form-control:focus {
  border: 1.2px solid #32D320;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ch-border {
  border: 1.2px solid #C4C4C4 !important;
}
textarea.form-control{
  padding-top: 12px;
  resize: none;
  font-size: 14.5px;
}
.btn-kirim,.btn-kirim:hover,.btn-kirim:focus,.btn-kirim:active {
 background-color: #338FFA;
 border-color: #338FFA;
 font-family: mont;
 float: right;
 padding: 10px 30px;
 border-radius: 8px;
}
.badge-primary {
  background-color: #2E81E1;
  margin-left: 19px;
  border-radius: 50px;
  padding: 4px 5px;
}
/* halaman hubungi kami */

/* popup dalam halaman komentar */
.modal-open , .modal-open .modal {
  padding-right: 0px !important;
}
.img-ilus-comment {
  margin-top: 60px;
  margin-bottom: 13px;
  width: 45%;
}
.title-modal {
  font-size: 23.5px;
  color:#16284C;
  font-family: pop-sembold;
}
.sub-title-modal {
  color:#16284C;
  font-family: nunito;
  margin-bottom: 30px;
}
.bd-right {
  margin-top: 5px;
}
.btn-block {
  margin-bottom: 10px;
}
/* popup dalam halaman komentar */

/* halaman tentang kami */
.bgimage-about {
  width: 100%;
  background-image: url('../images/bg-about.png');
  height: 400px;
  background-repeat:  no-repeat;
  background-size: contain;
  background-position: center;
  /*   background-attachment: fixed; */
}
.custom-fsz {
  margin-top: 160px;
  font-size: 38px;
  letter-spacing: 0.7px;
  font-family: mont;
  font-weight: bold;
  color: #fff;
}
.no-bg-other-page {
  background-image: none;
  margin-bottom: 0px;
}
.bc-other-page {
  padding-bottom: 55px;
}
.sub-about-company {
  padding: 0px;
}
.word-about-company {
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 2;
  font-family: mont-light;
  color: #000;
}
@media(max-width: 767px) {
  .sub-about-company {
    padding-right: 15px;
    padding-left: 15px;
  }
  .word-about-company {
    margin-top: 50px;
    margin-bottom: -20px;
  }
}
/* halaman tentang kami */

/* halaman faq */
.bgimage-faq {
  width: 100%;
  background-image: url('../images/bg-faq-1.png');
  height: 400px;
  background-repeat:  no-repeat;
  background-size: contain;
  background-position: center;
  /*   background-attachment: fixed; */
}
.mt-faq-list {
  margin-top: 15px !important;
  padding-bottom: 70px;

}
/* halaman faq */

/* halaman profil */
.backup-form-profile {
  padding-bottom: 70px;
}
.backup-profile {
  padding-top: 60px;
}
.box {
  border: 1.2px solid #ABABAB;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 10px;
}
.profile-txt {
  font-family: nunito;
  font-weight: 600;
  color:  #052448;
  letter-spacing: 0.9px;
  margin-top: 17.5px;
  margin-bottom: 20px;
}
.profile-img {
  width: 125px;
  height: 125px;
  border-radius: 100%;
}
.form-upload-file {
  margin-top: 30px;
  padding-bottom: 25px;
}
.backup-btn-upload-file{
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}

.input-file-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.btn-upload-file {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 8px;
  text-decoration: none;
  cursor: pointer;
  color: #338FFA !important;
  font-family: mont;
  border: 1.2px solid #338FFA !important;
}
/* halaman profil */

/* halaman konsultasi hukum */

/* step konsultasi */

.help-title {
  color: #fff;
  font-family: pop-sembold;
  margin-top: 50px;
}
.help-card {
  background-color: #fff;
  padding: 12px 18px;
  border-radius: 8px;
  margin-top: 8px;
}
.mb-2x {
  margin-bottom: 2px;
}
.help-icon {
  margin-top: 8px;
}
.backup-step-consultation {
  display: flex;
  font-family: nunito;
  font-size: 16px;
  margin-bottom: 10px;
}
.backup-step-consultation:last-child {
  margin-top: 10px;
}
.number-step-consultation {
  background-color: #fff;
  color:#000;
  padding: 8px 14px;
  border-radius: 100%;
  text-align: center;
}
.content-step-consultation {
  margin-top: 8px;
  margin-left: 16px;
  color: #fff;
}
/* step konsultasi */

.grey-body {
  background: #F1F3F5;
}
.mt-95 {
  margin-top: 100px;
}
.breadcrumb {
  background-color: transparent;
  padding: .75rem 2px;
}
.breadcrumb li a {
  color: #000;
  font-family: nunito;
  text-decoration: none;
  font-size:  15px;
}
.breadcrumb li a:hover,.breadcrumb li a:focus,.breadcrumb li a:active {
  color:#32D320;
  transition: all 0.2s ease-in-out;
}
.breadcrumb-item+.breadcrumb-item::before {
  color: #000;
  font-family: poppins;
  content: ">";
  margin: 0px 10px;
}
.langkah-konsultasi {
  background-color: #32D320;
}
.konsul-title {
  margin-top: 30px;
  margin-bottom: 25px;
  color: #fff;
}
.konsul-grid {
  background-color: #F7FAFE;
  padding: 0;
}
.no-padding {
  padding: 0px !important;
}
.backup-search-lawyer {
  background-color: #fff;
  padding: 13px 17px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.06);
}
.transparent-form,.transparent-form:focus,.transparent-form:active {
 border: 1.2px solid transparent;
 color:  #0A295D;
 font-family: nunito;
}
.transparent-form::-webkit-input-placeholder {
  color: #ABABAB;
}
.btn-search{
  background-color: #338FFA;
  color: #fff;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px !important;
}
.search-text-lawyer {
  font-family: pop-sembold;
  color: #0A295D;
  margin-top: 27px;
}
.img-kategori-lawyer {
 margin-left: 4px;
}
.text-kategori-lawyer {
  font-size:11px;
  text-align: center;
  font-family:nunito;
  color: #16284C;
  margin-top: 8px;
}
.backup-icon-lawyer {
  margin-top: 20px;
}

/* bagian card chat-lawyer */
.card-lawyer {
  padding: 4.5px;
}
.img-flash {
  margin-left: 10px;
}
.item-card-lawyer {
  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  border: none;
}
.backup-item-card-lawyer {
  margin-top: 15px;
}
.card-img-top {
  width: 65px;
  height: 65px;
  border-radius: 100%;
}
.content-card-lawyer {
  padding: 1.25rem 0px;
  padding-bottom: 0px;
}
.card-text {
  color: #16284C;
  font-size: 13.5px;
  font-family: pop-sembold
}
.on-status {
  text-align: left;
  padding: 0px 15px;
}
.online-text {
  font-family: pop-med;
  font-size: 12px;
  color: #32D320;
}
.btn-chat {
  margin-top: 10px;
  font-family: pop-med;
  margin-bottom: 0px;
  font-size: 13px;
  background: #338FFA;
  border-radius: 0px 0px 8px 8px;
}

.backup-icon-control {
  padding: 11px 18px;
  border-radius: 100%;background: #FFFFFF;
  border: 1.5px solid #E5E5E5;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.icon-control-slider {
  color: #E5E5E5;
  font-size: 23px;
}

.carousel-control-next, .carousel-control-prev,
.carousel-control-next:hover, .carousel-control-prev:hover{
  opacity: 1;
}
.carousel-control-prev {
  margin-left: -5px
}
.carousel-control-next {
  margin-right: -5px;
}

@media (min-width: 992px) {
  /* Show 4th slide on lg if col-lg-3*/
  .carousel-inner .active.card-lawyer.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: 0;  /*change this with javascript in the future*/
    /* z-index: 0; */
    display: block;
    visibility: visible;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Show 3rd slide on md if col-md-6*/
  .carousel-inner .active.col-md-6.carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%;  /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}

/* MD */
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
  }
  /* show 2 items */
  .carousel-inner .active + .carousel-item {
    display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be also positioned for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* LG */
@media (min-width: 992px) {
  /* show 3rd of 3 item slide */
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* right or prev direction */
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* bagian card chat-lawyer */

.mt-30 {
  margin-top: 30px;
}
.grid-daftar-pengacara {
  padding:8px;
}
.backup-card-pengacara {
  padding: 15px 10px;
  background: #FFFFFF;
  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  margin-bottom: 4px;
}
.circle {
 width: 14px;
 height: 14px;
 position: absolute;
 bottom: 16px;
 left: 54px;
 border-radius: 100%;
 background: #32D320;
 border: 2px solid #FFFFFF;
}
.backup-data-lawyer {
  margin-left: 10px;
  margin-right: 3px;
}
.img-lawyer {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 55px;
  height: 55px;
  border-radius: 100%;

}
.lawyer-name a{
  font-family: pop-sembold;
  color: #16284C;
  font-size: 12px;
}
.lawyer-name a:hover,.lawyer-name a:focus,.lawyer-name a:active {
  text-decoration: none;
  color: #32D320;
  transition: all 0.3s ease-in-out;
}
.rate-price-lawyer {
  margin-top: 1.5px;
  font-size: 12px;
  font-family: mont;
  color: #e62968;
}
.brief-lawyer {
  font-size: 12px;
  font-family: nunito;
  color: #338FFA;
}
.icon-star {
  font-size: 9.2px;
  color:  #FAD344;
  margin-left: 2px;
}
.disc-price {
  margin-right: 5px;
  color: #C4C4C4;
  text-decoration: line-through;
}
/* halaman konsultasi hukum */

/* halaman detail lawyer */
.backup-detail-pengacara {
  border:none;
  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07);
  border-radius: 8px; 
  margin-bottom: 20px;

}
.head-detail-lawyer{
  background: #32D320;
  border-radius: 8px 8px 0px 0px !important;
  color: #fff;
  padding-top: 35px;
  padding-bottom: 20px;
  border-bottom:none; 
  background-image: url('../images/hukum-bg.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

}
.backup-data-detail-pengacara {
  margin-top: -68px;
}
.name-detail-lawyer {
  font-size: 21px;
  font-family: pop-med;
  font-weight: 600;
}
.backup-data-online {
  background:  #F9F9F9;;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 32px;
  margin-top: -30px;
}
.img-detail-pengacara {
  width: 98px;
  height: 98px;
  border-radius: 100%;
}
.status-text-lawyer {
  font-family: nunito;
  font-size: 11.5px;
  color: #ABABAB;
  margin-top: 8px;
}
.cr-body-detail-pengacara {
  padding: 0;
  padding-bottom: 15px;
}
.fsz-13 span {
  font-size: 13px;
}
.total-reviews {
  font-family: Nunito;
  font-size: 12px !important;
  color: #FAD344;
  margin-left: 8px;
}
.icon-data-lawyer {
  background: rgba(230, 41, 104, 0.2) !important;
  border-radius: 4px;
  padding: 11px;
}
.top-text-data-lawyer {
  font-family: Nunito;
  font-size: 12px;
  color: #ABABAB;
}
.number-data-lawyer {
  margin-top: 3px;
  font-family: pop-sembold;
  font-size: 14px;
  color: #E62968;
}
.dt-lw:last-child {
  margin-left: 15px;
}
.bg-blue {
  background: rgba(51, 143, 250, 0.2) !important;
}
.blue-txt {
  color: #338FFA;
}
.nav-pills .item-detail.active, .nav-pills .show>.item-detail {
  color: #007bff;
  background-color: transparent;
}
.item-data-lawyer {
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
  padding: 12px;
  padding-bottom: 0;
}
.item-data-lawyer:last-child {
  border-left: 1px solid #C4C4C4;
}
.item-data-lawyer a, .item-data-login a {
  font-family: mont;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
}
.item-detail {
  color: #16284C !important;
}
.nav-pills .item-detail, .nav-pills .show>.item-detail:after {
 content: "";
 padding-bottom: 20px;
 width: 54%;
 bottom: -1px;
 left: 0;
 border-bottom: 3px solid transparent;
 border-radius: 0;
 right: 0;
 margin: 0 auto;
}
.nav-pills .item-detail.active, .nav-pills .show>.item-detail:focus:after, 
.nav-pills .item-detail.active, .nav-pills .show>.item-detail:active:after {
 border-bottom: 3px solid #338FFA;
}
.btn-spealisasi{
  margin-bottom: 10px;
  font-size: 12px;
  font-family: mont-regular;
  color: #16284C;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}
.lawyer-profile {
  font-family: Nunito;
  font-size: 14px;
  text-align: justify;
  color: #000000;
}
.lawyer-profile a,.lawyer-profile a:hover,.lawyer-profile a:focus {
  color: #3388fa;
  text-decoration: none;
}
.lawyer-profile i {
  color: #32D320;
  margin-right: 10px;
}
.lawyer-profile span  {
  font-size: 12px;
  color: #888888;
}
.cs-fsz-bottom-card {
  font-size: 17px;
}
.conf-btn {
  margin-top: -10px;
}
@media(max-width:990px) {
  .backup-data-detail-pengacara {
    margin-top: 20px !important;
  }
  .backup-data-online {
    background-color: transparent;
  }
  .set-padding {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .nav-pills .item-detail, .nav-pills .show>.item-detail:after {
    width: 100%;
  }
  .conf-btn,.conf-btn:focus,.conf-btn:active {
    float: none !important;
    margin-top: 20px;
  }
  .d-xs-block {
    display: block;
  }
  .txt-cntr-xs {
    text-align: center;
  }
  /* dt-kontrak-hukum */
  .backup-data-smart-contract {
    margin-top: 20px !important;
  } 
  .title-sct{
    text-align: center;
  }
  .sub-title-sct {
    text-align: center;
    padding-top: 15px;
  }
  /* dt-kontrak-hukum */
}
/* halaman detail lawyer */

/* popup modal login dan register */
.backup-login-popup {
  border-radius: 15px;
  border: none;
}
.head-login-popup {
  padding: 25px;
  background: #32D320;
  border-radius: 15px 15px 0px 0px;
  background-image: url('../images/bg-login.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.login-text {
  margin-top: 0;
  margin-left: 0;
  padding-bottom: 20px;
  padding-top: 19px;
  border-radius: 0 !important;
  background: #F1F3F5;
  color: #ABABAB;
}
.modal-header .close {
  padding: 0px 0rem;
}
.item-data-login {
  border-bottom: 1px solid #F1F3F5;
}
.nav-pills .login-text.active, .nav-pills .show>.login-text {
  color: #32D320 !important;
  background-color: transparent;
  border-radius: 0;
}
.backup-popup-login {
  margin-top: 15px;
}
.popup-login-label {
  font-family: Nunito;
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
.login-popup-form,.login-popup-form:focus,.login-popup-form:active {
  background: #F1F3F5;
  border:1px solid #F1F3F5;
  border-radius: 5px;
}
.btn-password,.btn-password:hover,.btn-password:focus,.btn-password:active {
  border-left: none;
  border-radius: 0;
  border:1px solid #F1F3F5;
  background-color: #F1F3F5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-password i {
  color: #000;
  margin-top: 11px;
}
.input-group>.custom-select:not(:last-child), 
.input-group>.form-control:not(:last-child) {
  border-right: none;
} 
.forgot-pass a,.forgot-pass a:hover,.forgot-pass a:focus {
  font-size: 13.5px;
  font-family: nunito;
  color: #32D320;
  text-decoration: none;
}
.btn-log-popup,.btn-log-popup:focus,.btn-log-popup:active {
  background: #069DD8 !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: none;
  font-family: mont;
  font-size: 17px;
  padding: 13px 0px;
  margin-top: 28px;
}
.btn-log-popup:last-child,.btn-log-popup:last-child:focus,.btn-log-popup:last-child:active {
  margin-top: 20px;
  background: #F7FAFE !important;
  color: #000;
  font-family: nunito;
}
/* popup modal login dan register */

/* halaman chat  */
.backup-chat-top{
  margin: 16px 8px;
}
.top-head-chat-lw {
  background-color: #fff;
  padding: 6px 10px;
  -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.06);
}
.no-bxsh {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.chat-name-lawyer {
  font-family: pop-sembold;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #16284C;
}
.online-chat-lw {
  bottom: inherit;
  top: 46px;
}
.backup-card-chat-lw {
  background-color: transparent;
  border:none;
  margin-bottom: 30px;
}
.backup-card-chat-lw:first-child {
  margin-top: 40px;
}  
.body-card-chat-lw {
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
}
.blue-card, .blue-card p {
  background: #338FFA;
  color: #fff !important;
}
.one-text-lawyer {
  font-family: nunito;
  font-size: 13.5px;
  color: #1B1B1B;
}
.log-time {
  margin-top: 9px;
  font-family: nunito;
  font-size: 10px;
  line-height: 11px;
  color: #C4C4C4;
}
.log-time img {
  margin-left: 5px;
}
.fix-btm {
  padding: 11px 16px;
  position: fixed;
  width: 50%;
  bottom: 0;
}
.btn-send-chat {
  background-color: transparent;
  border: none;
  border-radius: 100% !important;
  margin: 5px;
}
.btn-send-chat:hover,.btn-send-chat:focus,.btn-send-chat:active {
  background-color: rgba(51, 143, 250, 0.3);
}
.btn-send-chat:first-child {
  color: #32D320;
}
.btn-send-chat:first-child:hover,  .btn-send-chat:first-child:focus,  .btn-send-chat:first-child:active {
  background-color: rgba(50, 211, 32, 0.3);
  color: #32D320;
}
.btn-send-chat img {
  margin-left: 2px; 
  margin-top: -4px;
}
/* halaman chat */

/* halaman histori chat */
.daftar-chat {
  background-color: #fff;
}
.img-chat-lw{
  width: 65px;  
  height: 65px; 
}
.backup-cht-lw {
  padding: 8px 25px;
}
.backup-cht-lw:hover {
  background: #F1F3F5;
}
.chat-lawyer-name a {
  font-family: pop-sembold;
  color: #16284C;
  font-size: 15px;
}
.chat-lawyer-name a:hover,.chat-lawyer-name a:focus, .chat-lawyer-name a:active {
  color: #32D320 !important;
  transition: all 0.2s ease-in-out;
  text-decoration:none;
}
.isi-chat-lw {
  margin-top: 6.5px;
  font-family: nunito;
  font-size: 14px;
  color: #ABABAB;
}
.f-12 {
  float: right;
  font-size: 12px;
  margin-top: 4px;  
}
.online-chat {
  bottom: 17px;
  left: 70px;
}
.border-bb-chat {
  border-bottom:1px solid #F1F3F5;
  margin-top: -2px;
}
.notif-number {
  background: #32D320;
  width: 19px;
  height: 19px;
  padding: 5px;
  border-radius: 100%;
}
@media(max-width: 1093px) {
  .online-chat {
    bottom:17px;
  }
}
@media (max-width: 720px) {
  .online-chat {
    bottom:16px;
  }
  .chat-lawyer-name a {
    font-size: 14px;
  }
}
/* halaman histori chat */

/* halaman konsultasi hukum */
.y-scroll {
  overflow-y: scroll;
}
.pad-std {
  padding: 0px 30px;
}
.mt-10 {
  margin-top: -10px;
}
.cht-sc {
  overflow-y: auto;
  height: 400px;
}
.backup-down-txt {
  padding: 20px 18px;
}
.down-txt {
  font-family: Nunito;
  font-size: 15.5px;
  margin-right: 10px;
  margin-top: 7px;
  color: #ABABAB;
}
.btn-down {
  font-family: nunito;
}

/* halaman konsultasi hukum */

/* scroll */
#chat-scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #fefefe;
}

#chat-scroll::-webkit-scrollbar
{
  width: 6px;
  height: 4px;
  background-color: #fefefe;
}

#chat-scroll::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #32D320;
}
/* scroll */

/* kamus hukum */
.bg-kamus-hukum {
  background-color: #F7FAFE;
}
.list-kamus a:hover,.list-kamus a:focus {
  color: #672CFF !important;
}
.bgimage-kamus-hukum {
  width: 100%;
  background-color: #672CFF;
  height: 560px;
}
.btn-alphabet {
  border: 1px solid #FFFFFF;
  color: #fff;
  border-radius: 5px;
  font-family: pop-sembold;
  font-size: 22px;
  margin: 3px;
  margin-bottom: 14px;
  padding: 8px 20px;
}
.btn-alphabet:hover,.btn-alphabet:focus,.btn-alphabet:active {
  background-color:  #338FFA;
  transition: all 0.2s ease-in-out;
  border: 1px solid #338ffa;
  color: #fff;
}
.backup-bg-kamus-hukum {
  background-image: url('../images/union.svg');
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 56px;
}
.title-kamus-hukum {
  margin-top: 38px;
  font-family:pop-sembold;
  font-size:42px;
  color: #fff;
}
.sub-title-kamus-hukum {
 margin-top: 14px;
 margin-bottom: 30px;
 font-family: Nunito;
 font-size: 18px;
 color: #FFFFFF;
}
.search-kamus-hukum {
  width: 75%;
  padding: 9px 18px;
  border-radius: 6px;
}
.search-alphabet {
  font-family: pop-sembold;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 38px;
  margin-bottom: 19px;
}
.title-kata-awal {
  font-family: pop-sembold;
  font-size: 17px;
  color: #16284C;
}
.title-kata-awal span {
  margin-left: 5px;
  color: #338ffa;
}
.card-kata {
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  margin-bottom: 20px;
}
.card-kata a,.card-kata a:hover,.card-kata a:focus,.card-kata a:active{
 font-family: pop-med;
 font-weight: 100;
 font-size: 18px;
 color: #16284C;
 text-decoration: none;
}
.icon-kata {
  color: #338ffa;
  background: rgba(51, 143, 250, 0.3);
  padding: 10px 11px;
  border-radius: 100%;
  margin-top: -4px;
}
.bg-33 {
  background: #338ffa !important;
}
.page-item {
  margin: 5px;
}
.page-link {
  color: #c4c4c4;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  font-family: pop-med;
  font-size: 14px;
  padding: 11px 14px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.page-link:hover,.page-link:focus,.page-link:active {
  background: #338ffa;
  border: 1px solid #338ffa;
  transition: all 0.2s ease-in-out;
  color: #fff;
}
.cursor-kata {
  border: 1px solid #338ffa;
  color: #338ffa;
}
.cursor-kata:hover,.cursor-kata:focus,.cursor-kata:active {
  border: 1px solid #c4c4c4;
  background-color: #c4c4c4;
  color: #fff;
}
.box-top-kata {
  margin-top: 14px;
  font-family: pop-sembold;
  color: #16284C;
}
.arti-top-kata {
  font-family: Nunito;
  font-size: 13px;
  color: #ABABAB;
}
.btn-more-kata {
  font-size: 17px;
  font-family: nunito;
  padding: 14px;
  color: #338ffa;
  border: 1px solid #338ffa;
}
.btn-more-kata:hover,.btn-more-kata:focus,.btn-more-kata:active {
  background-color: #338ffa;
  color: #fff;
}
/* kamus hukum */

/* definisi kamus hukum */
.icon-star-def {
  background: rgba(251, 188, 5, 0.4);
  color: rgba(251, 188, 5, 1);
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
}
.title-def {
  font-family: pop-sembold;
  font-size: 32px;
  color: #338ffa;
  margin-top: -28px;
}
.sub-title-def {
  font-family: pop-sembold;
  font-size: 17px;
  color: #16284c;
  margin-bottom: 0;
  margin-top: 20px;
}
.arti-kata-def {
  font-family: mont-regular;
  font-size: 18.5px;
  color: #16284c;
}
.sumber-def {
  font-family: mont-regular;
  font-size: 14px;
  color: #16284c;
}
/* definisi kamus hukum */

/* favorit kata kamus hukum */
.bg-fav-hukum {
  background:#FBBC05;
  background-image: url('images/star-bg.svg');
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 40px;
}
.link-fav-kamus-hukum {
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.07);
  border-radius: 5px !important;
  padding: 13.5px;
  color: #16284c !important;
  margin-bottom: 10px;
  margin-left: 0;
  font-family: pop-med;
  font-size: 15.5px !important;
}
.nav-pills .link-fav-kamus-hukum.active, .nav-pills .show>.link-fav-kamus-hukum {
  color: #fff !important;
  background-color: #338ffa;
}
.delete-btn-fav {
  font-family: nunito;
  float: right;
  margin-top: -6px; 
  border: 1px solid #EC1D23;
  color: #EC1D23;
  border-radius: 5px;
}
.delete-btn-fav:hover,.delete-btn-fav:focus {
  background-color:#EC1D23;
  transition: all 0.2s ease-in-out; 
}
/* favorit kata kamus hukum */

/* smart contract */
.bc-tab-kat {
  margin-top: -70px;
}
.pad-15 {
  padding: 15px;
}
.bgimage-kontrak-hukum {
  width: 100%;
  background-color: #FF3276;
  height: 493px;
}
.list-smart-contract a:hover,.list-smart-contract a:focus {
  color: #FF3276 !important;
}
.sub-kontrak-hukum {
  font-family: nunito;
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
}
.btn-kat {
  padding: 51px;
  height: 140px;
  margin-left: 0 !important;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px !important;
  font-family: pop-sembold;
  font-size: 16px !important;
  color: #fbfbfb !important;
}
.btn-kat:hover {
  color: #fff !important;
}
.nav-pills .btn-kat.active, .nav-pills .show>.btn-kat {
  color: #fff !important;
  border: 3px solid #338ffa;
}

.kat-all {
  background-image: url('../images/kat-all.jpg');
}
.kat-hukum {
  background-image: url('../images/bg-kategori-kontrak.jpg');
}
.kat-haki {
  background-image: url('../images/bg-kategori-haki.jpg');
}
.kat-perusahaan {
  background-image: url('../images/bg-kategori-perusahaan.jpg');
}

.backup-card-smart-contract {
  padding: 8px;
  width: 20%;
  flex-basis: auto;
}
.set-card-smc {
  height: 280px;
}
.cr-smart-contract {
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.title-smart-contract {
  font-family: pop-sembold;
  font-size: 15.5px;
  color: #16284C;
  padding: 0px 10px;
}
.icon-smart-contract {
  width: 85px;
  margin-top: 10px; 
}
.text-smart-contract {
  margin-top: 10px;
  font-family: nunito;
  font-size: 14px !important;
  padding: 0px 10px;
}
.btn-smart-contract,.btn-smart-contract:hover {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 16px 10px 10px;
  border: 1px solid #338ffa;
  text-align: inherit;
  background: #338FFA;
  border-radius: 0px 0px 8px 8px;
  font-family: pop-sembold;
  font-size: 14px;
}
.next-contract {
  margin-top: -5px;
  background: #2E81E1;
  padding: 9px;
  border-radius: 100%;
  font-size: 12px;
}
/* smart contract */

/* formulir kontrak hukum */
.td-none {
  text-decoration: none;
}
.no-bg-formulir {
  background-image: none !important;
}
.sub-span-step {
  font-size: 13.5px;
  text-align: left;
  margin-left: 8px;
}
.step-kontrak{
  padding:  15px 0px;
  border-bottom: 2px solid #DADADA;
  border-radius: 0 !important;
}
.step-kontrak:hover {
  color: #16284C !important;
}
.choise-formulir {
  padding:7px;
  height: 50px;
}
.tes-bt {
  background: #e5e5e5;
  border: none;
  color:  #ABABAB;
  padding: 8px 15px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}
.act-btn,.tes-bt:hover {
  background: rgba(255, 50, 118, 0.26) !important;
  color: #E62968 !important;  
}

.nav-pills .step-kontrak.active, .nav-pills .show>.step-kontrak {
  background-color: transparent;
  border-bottom: 2px solid #E62968;
  border-radius: 0;
  color: #16284C !important;
}
.form-formulir-kontrak-hukum:focus , .form-formulir-kontrak-hukum:active {
  border: 1.2px solid #E62968 !important;
}
.green-text {
  color: #32d320;
}
.group-formulir-kontrak {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: transparent;
  color: #dadada;
}
.c-icon-formulir {
  color: #c4c4c4;
  background: transparent;
  padding: 15px;
  border: 1.2px solid #DADADA;
  border-left: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.small-text-formulir {
  font-size: 12px;
  font-family: nunito;
  color: #052448;
}
.st-small-formulir {
  color: #e62968;
}
.backup-btn-jam-kerja {
  background: #F1F3F5;
  border: 1px solid #DADADA;
  border-radius: 6px;
}
.btn-jam-kerja,.btn-jam-kerja:hover,.btn-jam-kerja:focus{
  background: #FFFFFF;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 7px 15px;
  border: none;
  font-size: 17px;
  margin: 6px;
}
.number-jam-kerja {
  margin-left: 5px; 
  margin-right: 5px;  
  font-family:  nunito;
  font-size:  17.5px;
}
.txt-jam-kerja {
  font-family: Nunito;
  font-size: 14px;
}
/* formulir kontrak hukum */

/* detail kontrak hukum */
.head-smart-contract {
  background:  #FF3276;
  background-image: url('../images/smart-contract-bg.svg');
  background-repeat: no-repeat;
  background-position: right;
}
.backup-data-smart-contract {
  margin-top: -65px;
}
.icon-detail-sct {
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 8px;
}
.sub-title-sct {
  font-family: mont-regular;
  font-size: 13px;
  color: #16284C;
}
.detail-sct-content {
  font-size: 16px;
  margin-bottom: 35px;
}
/* detail kontrak hukum */

/* kontrak hukum saya */
.f-kontrak-saya {
  font-family: pop-med !important;
}
.c-kontrak-saya {
  font-size: 7px;
}
.log-tanggal-kontrak-saya {
  color: #ababab;
}
.act-box {
 margin-top: 15px;
 background: #FFFFFF;
 box-sizing: border-box;
 border: 1px solid #fff;
 box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.07);
 border-radius: 8px;
 padding: 8px 25px;
}
.act-box-active,.act-box:hover {
 border: 1px solid #E62968;
}
.mt-choise-kontrak-saya {
  margin-top: -22px;
}
.pad-drop-kontrak-saya {
  padding:15px 0px;
}
.ml-3-7 {
  margin-left: 3.7rem!important;
}
.choise-list-kontrak,.choise-list-kontrak:hover,.choise-list-kontrak:focus {
  color: #16284C
}

/* xs */
.backup-xs-kontrak-saya {
  padding-left: 5px;
  padding-right: 5px;
}
.bottom-kontrak-saya {
  background: #FF3276;
  color: #fff;
}
.link-xs-kontrak-saya,.link-xs-kontrak-saya:hover,.link-xs-kontrak-saya:focus{
  color: #16284C;
  text-decoration: none;
}
.pad-title-xs-kontrak-saya{
  padding:0px 15px;
}
/* xs */

/* kontrak hukum saya */

/* media screen */
@media (max-width: 1020px) {
  .backup-card-smart-contract {
    width: 25% !important;
  }
  .set-card-smc {
    height: 310px !important;
  }
}
@media (max-width: 790px) {
  .backup-card-smart-contract {
    width: 33.33% !important;
  }
}
@media(max-width: 575px) {
  .on-status {
    margin-top: 5px;
    text-align: center;
    margin-bottom: 20px !important;
  }
  .set-img-xs{
    margin-top: 20px;
    width: 115px;
    height: 115px;
  }
  .card-text {
    font-size: 17px;
  }
  .online-text {
    font-size: 14px;
  }
  .btn-chat {
    padding: 13px;
    font-size: 14.5px;
  }
  .lawyer-name a {
    font-size: 14.8px;
  }
  .rate-price-lawyer {
    font-size: 13px;
  }
  .brief-lawyer {
    font-size: 13px;
  }
  .icon-star {
    font-size: 10.6px;
  }
  .fix-btm {
    width: 100% !important;
  }
  .title-smart-contract {
    font-size: 14.5px;
  }

  /* halaman kontrak hukum */
  .btn-kat {
    padding: 45px 30px !important;
  }
  .backup-card-smart-contract {
    width: 50% !important;
  }
  .set-card-smc {
    height: 285px !important;
  }
  /* halaman kontrak hukum */
}
@media (max-width: 423px) {
 .backup-card-smart-contract {
    width: 100% !important;
  } 
}
@media (max-width: 370px) {
  .backup-card-smart-contract {
    width: 100% !important;
  }
}
@media (max-width: 950px) {
 /* halaman formulir kontrak hukum */
  .xs-layout-item-nav {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .step-kontrak {
    border-bottom: 2px solid transparent;
  }
  .btn-xs-block {
    display: block;
    width: 100%;  
  }
   /* halaman formulir kontrak hukum */
}
/* media screen