   <!-- chat slider lawyer -->
   <div class="container-fluid">
    <p class="search-text-lawyer">Quick chat
      <span><img src="images/flash-quick-chat.svg" class="img-flash" alt=""></span>
    </p>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner row w-100 mx-auto" role="listbox">

        <!-- card lawyer -->
        <div class="carousel-item col-12 col-sm-12 col-md-6 col-lg-3 card-lawyer active">
          <div class="card item-card-lawyer">

            <p class="text-center backup-item-card-lawyer mb-0">
              <img class="img-lawyer set-img-xs" src="images/foto-lawyer/fajar-romy.png" alt="">
            </p>

            <div class="card-body content-card-lawyer text-center">
              <p class="card-text mb-0">Fajar Romy..</p>
              <p class="mb-0 on-status">
                <span><img src="images/online-lawyer.svg" alt=""></span>
                <span class="online-text">Online</span>
              </p>
              <a href="chat-2.html" class="btn btn-primary btn-block btn-chat">Chat</a>
            </div>

          </div>
        </div>
        <!-- card lawyer -->

        <!-- card lawyer -->
        <div class="carousel-item col-12 col-sm-12 col-md-6 col-lg-3 card-lawyer">
          <div class="card item-card-lawyer">

            <p class="text-center backup-item-card-lawyer mb-0">
              <img class="img-lawyer set-img-xs" src="images/foto-lawyer/alfian.png" alt="">
            </p>

            <div class="card-body content-card-lawyer text-center">
              <p class="card-text mb-0">H. Alfan Sari...</p>
              <p class="mb-0 on-status">
                <span><img src="images/online-lawyer.svg" alt=""></span>
                <span class="online-text">Online</span>
              </p>
              <a href="" class="btn btn-primary btn-block btn-chat">Chat</a>
            </div>

          </div>
        </div>
        <!-- card lawyer -->

        <!-- card lawyer -->
        <div class="carousel-item col-12 col-sm-12 col-md-6 col-lg-3 card-lawyer">
          <div class="card item-card-lawyer">

            <p class="text-center backup-item-card-lawyer mb-0">
              <img class="img-lawyer set-img-xs" src="images/foto-lawyer/dwi-seno.png" alt="">
            </p>

            <div class="card-body content-card-lawyer text-center">
              <p class="card-text mb-0">Dr. Dwi Seno...</p>
              <p class="mb-0 on-status">
                <span><img src="images/online-lawyer.svg" alt=""></span>
                <span class="online-text">Online</span>
              </p>
              <a href="" class="btn btn-primary btn-block btn-chat">Chat</a>
            </div>

          </div>
        </div>
        <!-- card lawyer -->

        <!-- card lawyer -->
        <div class="carousel-item col-12 col-sm-12 col-md-6 col-lg-3 card-lawyer">
          <div class="card item-card-lawyer">

            <p class="text-center backup-item-card-lawyer mb-0">
              <img class="img-lawyer set-img-xs" src="images/foto-lawyer/melki.png" alt="">
            </p>

            <div class="card-body content-card-lawyer text-center">
              <p class="card-text mb-0">Melky Sima...</p>
              <p class="mb-0 on-status">
                <span><img src="images/online-lawyer.svg" alt=""></span>
                <span class="online-text">Online</span>
              </p>
              <a href="" class="btn btn-primary btn-block btn-chat">Chat</a>
            </div>

          </div>
        </div>
        <!-- card lawyer -->

        <!-- card lawyer -->
        <div class="carousel-item col-12 col-sm-12 col-md-6 col-lg-3 card-lawyer">
          <div class="card item-card-lawyer">

            <p class="text-center backup-item-card-lawyer mb-0">
              <img class="img-lawyer set-img-xs" src="images/foto-lawyer/ichwan.png" alt="">
            </p>

            <div class="card-body content-card-lawyer text-center">
              <p class="card-text mb-0">Ichwan Kur...</p>
              <p class="mb-0 on-status">
                <span><img src="images/online-lawyer.svg" alt=""></span>
                <span class="online-text">Online</span>
              </p>
              <a href="" class="btn btn-primary btn-block btn-chat">Chat</a>
            </div>

          </div>
        </div>
        <!-- card lawyer -->
      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="backup-icon-control">
          <span class="fas fa-angle-left icon-control-slider" aria-hidden="true"></span>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="backup-icon-control">
          <span class="fas fa-angle-right icon-control-slider" aria-hidden="true"></span>
        </span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-- chat slider lawyer -->



  <!-- --------------------------------------- -->



  <!-- daftar pengacara -->
  <div class="container-fluid">
    <p class="search-text-lawyer mt-30 mb-0">Pengacara</p>
    <div class="row">

      <!-- card-daftar-pengacara -->
      <div class="col-lg-6 grid-daftar-pengacara">
        <div class="backup-card-pengacara d-flex">
          <p class="mb-0">
            <img src="images/foto-lawyer/arifin.png" class="img-lawyer" alt="">
          </p>

          <div class=" backup-data-lawyer d-block">
            <p class="lawyer-name mb-0"><a href="">Arifin, S.H.</a></p>
            <p class="rate-price-lawyer mb-0">
              <span class="disc-price">Rp 300.000</span>
              <span>Gratis!</span>
            </p>

            <p class="mb-0">
              <img src="images/brief.svg" alt="">
              <span class="brief-lawyer">3 Tahun</span>

              <!-- star icon lawyer -->
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <!-- star icon lawyer -->

            </p>
          </div>
        </div>
      </div>
      <!-- card-daftar-pengacara -->

      <!-- card-daftar-pengacara -->
      <div class="col-lg-6 grid-daftar-pengacara">
        <div class="backup-card-pengacara d-flex">
          <p class="mb-0">
            <img src="images/foto-lawyer/soleh.png" class="img-lawyer" alt="">
          </p>

          <div class=" backup-data-lawyer d-block">
            <p class="lawyer-name mb-0"><a href="">Soleh Arifin, S.H.</a></p>
            <p class="rate-price-lawyer mb-0">
              <span class="disc-price">Rp 300.000</span>
              <span>Gratis!</span>
            </p>

            <p class="mb-0">
              <img src="images/brief.svg" alt="">
              <span class="brief-lawyer">3 Tahun</span>

              <!-- star icon lawyer -->
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <!-- star icon lawyer -->

            </p>
          </div>
        </div>
      </div>
      <!-- card-daftar-pengacara -->

      <!-- card-daftar-pengacara -->
      <div class="col-lg-6 grid-daftar-pengacara">
        <div class="backup-card-pengacara d-flex">
          <p class="mb-0">
            <img src="images/foto-lawyer/asif.png" class="img-lawyer" alt="">
          </p>

          <div class=" backup-data-lawyer d-block">
            <p class="lawyer-name mb-0"><a href="">Asif Abdillah S.Sy.</a></p>
            <p class="rate-price-lawyer mb-0">
              <span class="disc-price">Rp 100.000</span>
              <span>Gratis!</span>
            </p>

            <p class="mb-0">
              <img src="images/brief.svg" alt="">
              <span class="brief-lawyer">1 Tahun</span>

              <!-- star icon lawyer -->
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <!-- star icon lawyer -->

            </p>
          </div>
        </div>
      </div>
      <!-- card-daftar-pengacara -->

      <!-- card-daftar-pengacara -->
      <div class="col-lg-6 grid-daftar-pengacara">
        <div class="backup-card-pengacara d-flex">
          <p class="mb-0">
            <img src="images/foto-lawyer/fajar-romy.png" class="img-lawyer" alt="">
          </p>
          <p class="circle"></p>

          <div class=" backup-data-lawyer d-block">
            <p class="lawyer-name mb-0"><a href="detail-lawyer.html">Fajar Romy Gumilar, S.H.</a></p>
            <p class="rate-price-lawyer mb-0">500.000</p>

            <p class="mb-0">
              <img src="images/brief.svg" alt="">
              <span class="brief-lawyer">5 Tahun</span>

              <!-- star icon lawyer -->
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <!-- star icon lawyer -->

            </p>
          </div>
        </div>
      </div>
      <!-- card-daftar-pengacara -->

      <!-- card-daftar-pengacara -->
      <div class="col-lg-6 grid-daftar-pengacara">
        <div class="backup-card-pengacara d-flex">
          <p class="mb-0">
            <img src="images/foto-lawyer/alfian.png" class="img-lawyer" alt="">
          </p>
          <p class="circle"></p>

          <div class=" backup-data-lawyer d-block">
            <p class="lawyer-name mb-0"><a href="">H. Alfan Sari, SH. MH. MM.</a></p>
            <p class="rate-price-lawyer mb-0">
              <span class="disc-price">Rp 900.000</span>
              <span>Gratis!</span>
            </p>

            <p class="mb-0">
              <img src="images/brief.svg" alt="">
              <span class="brief-lawyer">9 Tahun</span>

              <!-- star icon lawyer -->
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <!-- star icon lawyer -->

            </p>
          </div>
        </div>
      </div>
      <!-- card-daftar-pengacara -->

      <!-- card-daftar-pengacara -->
      <div class="col-lg-6 grid-daftar-pengacara">
        <div class="backup-card-pengacara d-flex">
          <p class="mb-0">
            <img src="images/foto-lawyer/dwi-seno.png" class="img-lawyer" alt="">
          </p>
          <p class="circle"></p>

          <div class=" backup-data-lawyer d-block">
            <p class="lawyer-name mb-0"><a href="">Dr. Dwi Seno Wijanarko...</a></p>
            <p class="rate-price-lawyer mb-0">
              <span class="disc-price">Rp 8.000.000</span>
              <span>Gratis!</span>
            </p>

            <p class="mb-0">
              <img src="images/brief.svg" alt="">
              <span class="brief-lawyer">8 Tahun</span>

              <!-- star icon lawyer -->
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <!-- star icon lawyer -->

            </p>
          </div>
        </div>
      </div>
      <!-- card-daftar-pengacara -->

      <!-- card-daftar-pengacara -->
      <div class="col-lg-6 grid-daftar-pengacara">
        <div class="backup-card-pengacara d-flex">
          <p class="mb-0">
            <img src="images/foto-lawyer/melki.png" class="img-lawyer" alt="">
          </p>
          <p class="circle"></p>

          <div class=" backup-data-lawyer d-block">
            <p class="lawyer-name mb-0"><a href="">Melky Simamora</a></p>
            <p class="rate-price-lawyer mb-0">
              <span class="disc-price">Rp 4.000.000</span>
              <span>Gratis!</span>
            </p>

            <p class="mb-0">
              <img src="images/brief.svg" alt="">
              <span class="brief-lawyer">4 Tahun</span>

              <!-- star icon lawyer -->
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <!-- star icon lawyer -->

            </p>
          </div>
        </div>
      </div>
      <!-- card-daftar-pengacara -->

      <!-- card-daftar-pengacara -->
      <div class="col-lg-6 grid-daftar-pengacara">
        <div class="backup-card-pengacara d-flex">
          <p class="mb-0">
            <img src="images/foto-lawyer/melki.png" class="img-lawyer" alt="">
          </p>
          <p class="circle"></p>

          <div class=" backup-data-lawyer d-block">
            <p class="lawyer-name mb-0"><a href="">Ichwan Kurnia, SH.,MH</a></p>
            <p class="rate-price-lawyer mb-0">
              <span class="disc-price">Rp 500.000</span>
              <span>Gratis!</span>
            </p>

            <p class="mb-0">
              <img src="images/brief.svg" alt="">
              <span class="brief-lawyer">5 Tahun</span>

              <!-- star icon lawyer -->
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <span class="fas fa-star icon-star"></span>
              <!-- star icon lawyer -->

            </p>
          </div>
        </div>
      </div>
      <!-- card-daftar-pengacara -->

    </div>
  </div>
  <!-- daftar pengacara -->





  <script>
    /* pengaturan slider untuk slider chat lawyer */
    $('#carouselExampleControls').on('slide.bs.carousel', function (e) {
      var $e = $(e.relatedTarget);
      var idx = $e.index();
      var itemsPerSlide = 4;
      var totalItems = $('.carousel-item').length;
      console.log(totalItems);
      if (idx >= totalItems-(itemsPerSlide-1)) {
        var it = itemsPerSlide - (totalItems - idx);
        for (var i=0; i<it; i++) {
            // append slides to end
            if (e.direction=="left") {
              $('.carousel-item').eq(i).appendTo('.carousel-inner');
            }
            else {
              $('.carousel-item').eq(0).appendTo('.carousel-inner');
            }
          }
        }
      });
    /* pengaturan slider untuk slider chat lawyer */
  </script>