<div class="container about-company">
	<div class="col-lg-12 col-md-12 sub-about-company">
		<p align="justify" class="word-about-company">
			HeyLaw didirikan oleh pemerhati hukum dan teknologi. Beberapa pendirinya adalah Awaludin Marwan, PhD, lulusan doktor Universitas Belanda, Wahyu Agung Pramudito, PhD lulusan doktor Universitas Manchester Inggris, Dr. Bambang Pratama akademisi dan peneliti hukum siber, az Zahra F Sunandi, MSc lulusan University College London, Andi Tri Haryono, MM akademisi di bidang ekonomi digital, dan beberapa kolega yang lain. Fokus layanan yang disediakan adalah link and match antara kebutuhan hukum di masyarakat dengan memanfaatkan teknologi informasi, salah satunya adalah membantu mempertemukan pengacara dan konsultan hukum yang tepat dan terpercaya.
		</p>
		<p align="justify" class="word-about-company">
			 Pengembangan platform HeyLaw di masa mendatang adalah berinovasi untuk memenuhi kebutuhan berhukum bagi praktisi dan masyarakat yang memerlukan layanan hukum secara mudah, cepat dan tepat sasaran.
		</p>
	</div>
</div>