<div class="container-fluid no-padding">
	

	<!-- card-daftar-pengacara -->
	<div class="col-lg-12 grid-daftar-pengacara  no-padding">
		<div class="backup-cht-lw d-flex">
			<p class="mb-0">
				<img src="images/foto-lawyer/fajar-romy.png" class="img-lawyer img-chat-lw" alt="">
			</p>
			<p class="circle online-chat"></p>

			<div class="backup-data-lawyer w-100 d-block mt-2">
				<p class="chat-lawyer-name mb-0"><a href="">Fajar Romy Gumilar, S.H.</a><span class="isi-chat-lw f-12">Hari ini</span></p>
				<p class="isi-chat-lw">Halo, selamat pagi perkenalkan saya fajar romy, terima kasih telah...</p>
			</div>
		</div>
		<div class="col">
			<p class="mb-0 border-bb-chat"></p>
		</div>
	</div>
	<!-- card-daftar-pengacara -->

	<!-- card-daftar-pengacara -->
	<div class="col-lg-12 grid-daftar-pengacara  no-padding">
		<div class="backup-cht-lw d-flex">
			<p class="mb-0">
				<img src="images/foto-lawyer/alfian.png" class="img-lawyer img-chat-lw" alt="">
			</p>

			<div class="backup-data-lawyer w-100 d-block mt-2">
				<p class="chat-lawyer-name mb-0"><a href="">H. Alfan Sari, SH. MH. MM.<span class="isi-chat-lw f-12">Hari ini</span></a></p>
				<p class="isi-chat-lw text-dark">Seperti itu ya 
					<span class="float-right badge badge-pill badge-success notif-number">2</span>
				</p>
			</div>
		</div>
		<div class="col">
			<p class="mb-0 border-bb-chat"></p>
		</div>
	</div>
	<!-- card-daftar-pengacara -->

	<!-- card-daftar-pengacara -->
	<div class="col-lg-12 grid-daftar-pengacara  no-padding">
		<div class="backup-cht-lw d-flex">
			<p class="mb-0">
				<img src="images/foto-lawyer/soleh.png" class="img-lawyer img-chat-lw" alt="">
			</p>

			<div class="backup-data-lawyer w-100 d-block mt-2">
				<p class="chat-lawyer-name mb-0">
					<a href="">Soleh Arifin, S.H.</a><span class="isi-chat-lw f-12">Hari ini</span>
				</p>
				<p class="isi-chat-lw">Oke Pak, Terimakasih</p>
			</div>
		</div>
		<div class="col">
			<p class="mb-0 border-bb-chat"></p>
		</div>
	</div>
	<!-- card-daftar-pengacara -->	
</div>