<div id="accordion">

  <!-- faq -->
  <div class="card cr-faq-list">

    <a class="collapsed head-card" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      Apa itu HeyLaw ?
    </a>


    <div id="collapseOne" class="collapse" data-parent="#accordion">
      <div class="card-body faq-list-content">

        Aplikasi jasa hukum online untuk membantu Kamu menyelesaikan urusan hukum. Urusan hukum lebih mudah dengan menggunakan HeyLaw

      </div>
    </div>
  </div>
  <!-- faq -->
  
  <!-- faq -->
  <div class="card cr-faq-list">

    <a class="collapsed head-card" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Bagaimana cara menggunakan kontrak hukum? 
    </a>

    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body faq-list-content">
        Tinggal klik salah satu kolom, jika kamu ingin melakukan jual beli misalnya, klik jual beli, lalu klik tombol beli, dan tinggal isi kolom-kolom, pihak satu untuk rekan kamu, sementara untuk untuk kamu sebagai pihak yang lain. Terus, lengkapi kolom-kolom isian, lalu lanjut. Tinggal download deh
      </div>
    </div>
  </div>
  <!-- faq -->

  <!-- faq -->
  <div class="card cr-faq-list">

    <a class="collapsed head-card" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Bagaimana cara konsultasi hukum?
    </a>

    <div id="collapseThree" class="collapse"  data-parent="#accordion">
      <div class="card-body faq-list-content">
        Cari pengacara yang srek di hatimu. Pastikan ia bisa menjawab kegelisahan hatimu di bidang hukum. Habis itu, klik konsultasi, kamu bisa pilih chat atau telpon
      </div>
    </div>
  </div>
  <!-- faq -->

  <!-- faq -->
  <div class="card cr-faq-list">

    <a class="collapsed head-card" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      Bagaimana cara menggunakan kamus hukum?
    </a>

    <div id="collapseFour" class="collapse"  data-parent="#accordion">
      <div class="card-body faq-list-content">
        Buka fitur kamus hukum, lalu ketik kata yang sedang kamu cari. Spadaaaa, kamu bisa membaca kata yang kamu cari
      </div>
    </div>
  </div>
  <!-- faq -->

  <!-- faq -->
  <div class="card cr-faq-list">

    <a class="collapsed head-card" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
      Bagaimana menghubungi HeyLaw?
    </a>

    <div id="collapseFive" class="collapse"  data-parent="#accordion">
      <div class="card-body faq-list-content">
       Anda bisa datang ke kantor HeyLaw di Ruko City walk Jl. Raya Pondok Cabe Blok B5 No. 6 Kav. 77 Tangerang selatan
     </div>
   </div>
 </div>
 <!-- faq -->

</div>