<div class="container-fluid footer">
	<div class="container cont-footer">
		<div class="row">
			<div class="col-lg-4 col-md-12">
				<p>
					<img src="images/logo-heylaw.svg" width="190" class="img-fluid" alt="">
				</p>
				<p class="name-company">PT. Prawira Bahagia Selalu</p>
				<p class="company-work">Jasa layanan hukum</p>
				<p class="address-company">
					Jl. Raya Pondok Cabe Blok B5 No. 6 Kav. 77 Tangerang selatan
				</p>
				<table>
					<tr>
						<td>Telepon/SMS/WA</td>
						<td>: 0813 8002 2929</td>
					</tr>
					<tr>                    
						<td>Email</td>
						<td>: Info@heylaw.id</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-2 d-md-none d-lg-block"></div>
			<div class="col-lg-3 col-md-6 cr-footer">
				<p class="list-footer"><a href="tentang-kami.html">Tentang Kami</a></p>
				<p class="list-footer"><a href="faq.html">FAQ</a></p>
				<p class="list-footer"><a href="hubungi-kami.html">Kontak Kami</a></p>
				<p class="list-footer"><a href="#">Syarat & Ketentuan</a></p>
			</div>
			<div class="col-lg-3 col-md-6 cr-footer">
				<p class="list-footer">Get the App</p>	
				<a href="https://play.google.com/store/apps/details?id=com.heylaw&hl=en" target="_blank">
					<img src="images/playstore.png" class="playstore-icon" alt="">
				</a>
				<p class="list-footer mt-follow">Ikuti Kami</p>
				<p class="">

					<a href="https://instagram.com/heylawid" target="_blank" 
						class="sosmed-icon"><img src="images/ig-1.svg" alt="">
					</a>

					<a href="https://www.facebook.com/HeyLaw.ID/" target="_blank" 
						class="sosmed-icon"><img src="images/fb-1.svg" alt="">
					</a>

					<a href="https://twitter.com/heylawid" target="_blank" class="sosmed-icon">
						<img src="images/tw-1.svg" alt="">
					</a>

					<a href="https://www.youtube.com/channel/UC8tognA55Lrx_sbOkMYCLFA" target="_blank" class="sosmed-icon">
						<img src="images/yt-1.svg" alt="">
					</a>

			</p>
		</div>
	</div>
</div>
</div>