<!-- hero image kamus-hukum -->
  <div class="container-fluid bgimage-kamus-hukum">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 backup-bg-kamus-hukum">
          <h3 class="text-center title-kamus-hukum">Kamus Hukum</h3>
          <p class="text-center sub-title-kamus-hukum">
            Kamu dapat mencari kata apapun yang berhubungan dengan hukum
          </p>
          
          <center>

            <div class="input-group mb-3 backup-search-lawyer search-kamus-hukum">
              <input type="text" class="form-control transparent-form" placeholder="Cari kata hukum...">
              <div class="input-group-append">
                <button class="btn btn-primary btn-search" type="button"><i class="fas fa-search"></i></button>
              </div>
            </div>

            <p class="text-center search-alphabet">Atau cari kata sesuai alphabet</p>
            <div class="scrollmenu" id="chat-scroll">
              <button type="button" class="btn btn-alphabet btn-lg">A</button>
              <button type="button" class="btn btn-alphabet btn-lg">B</button>
              <button type="button" class="btn btn-alphabet btn-lg">C</button>
              <button type="button" class="btn btn-alphabet btn-lg">D</button>
              <button type="button" class="btn btn-alphabet btn-lg">E</button>
              <button type="button" class="btn btn-alphabet btn-lg">F</button>
              <button type="button" class="btn btn-alphabet btn-lg">G</button>
              <button type="button" class="btn btn-alphabet btn-lg">H</button>
              <button type="button" class="btn btn-alphabet btn-lg">I</button>
              <button type="button" class="btn btn-alphabet btn-lg">J</button>
              <button type="button" class="btn btn-alphabet btn-lg">K</button>
              <button type="button" class="btn btn-alphabet btn-lg">L</button>
              <button type="button" class="btn btn-alphabet btn-lg">M</button>  
              <button type="button" class="btn btn-alphabet btn-lg">N</button>
              <button type="button" class="btn btn-alphabet btn-lg">O</button>
              <button type="button" class="btn btn-alphabet btn-lg">P</button>
              <button type="button" class="btn btn-alphabet btn-lg">Q</button>
              <button type="button" class="btn btn-alphabet btn-lg">R</button>
              <button type="button" class="btn btn-alphabet btn-lg">S</button>
              <button type="button" class="btn btn-alphabet btn-lg">T</button>
              <button type="button" class="btn btn-alphabet btn-lg">U</button>
              <button type="button" class="btn btn-alphabet btn-lg">V</button>
              <button type="button" class="btn btn-alphabet btn-lg">W</button>
              <button type="button" class="btn btn-alphabet btn-lg">X</button>
              <button type="button" class="btn btn-alphabet btn-lg">Y</button>
              <button type="button" class="btn btn-alphabet btn-lg">Z</button>  
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end hero image kamus-hukum -->