<div class="card crd-contact">
	<div class="card-header contact-header-box">
		Kontak Kami
	</div>
	<ul class="list-group list-group-flush">
		
		<li class="list-group-item contact-list">
			<div class="backup-contact-icon">
				<p><img src="images/wa-icon.svg" class="contact-icon" alt=""></p>
				<p>
					<span class="name-contact">Whatsapp</span><br>
					<span class="val-contact"><a href="https://api.whatsapp.com/send?phone=6281380022929&text=" target="_blank">+6281380022929</a></span>
				</p>
			</div>
		</li>

		<li class="list-group-item contact-list">
			<div class="backup-contact-icon">
				<p><img src="images/email-icon.svg" class="contact-icon" alt=""></p>
				<p>
					<span class="name-contact">Email</span><br>
					<span class="val-contact"><a href="mailto:info@heylaw.id" target="_blank">info@heylaw.id</a></span>
				</p>
			</div>
		</li>

		<li class="list-group-item contact-list">
			<div class="backup-contact-icon">
				<p><img src="images/sms-icon.svg" class="contact-icon" alt=""></p>
				<p>
					<span class="name-contact">SMS</span><br>
					<span class="val-contact"><a href="#" target="_blank">+6281380022929</a></span>
				</p>
			</div>
		</li>

		<li class="list-group-item contact-list">
			<div class="backup-contact-icon">
				<p><img src="images/ig-icon.svg" class="contact-icon" alt=""></p>
				<p>
					<span class="name-contact">Instagram</span><br>
					<span class="val-contact"><a href="https://instagram.com/heylawid" target="_blank">@heylaw.id</a></span>
				</p>
			</div>
		</li>

		<li class="list-group-item contact-list">
			<div class="backup-contact-icon">
				<p><img src="images/fb-icon.svg" class="contact-icon" alt=""></p>
				<p>
					<span class="name-contact">Facebook</span><br>
					<span class="val-contact"><a href="https://www.facebook.com/HeyLaw.ID/" target="_blank">Heylaw.id</a></span>
				</p>
			</div>
		</li>

		<li class="list-group-item contact-list">
			<div class="backup-contact-icon">
				<p><img src="images/yt-icon.svg" class="contact-icon" alt=""></p>
				<p>
					<span class="name-contact">Youtube</span><br>
					<span class="val-contact"><a href="https://www.youtube.com/channel/UC8tognA55Lrx_sbOkMYCLFA" target="_blank">Heylaw Indonesia</a></span>
				</p>
			</div>
		</li>

	</ul>
</div>
<br>
<br>
<br>