<div class="row m-0 mb-5 pb-4 backup-nav-top-xs">
      <div class="col-md-4 no-padding">
        <ul class="nav mt-1">
          <li class="nav-item">
            <a class="nav-link link-blog-top ml-0" href="blog.html">Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-blog-top ml-0 " href="forum-blog.html">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-blog-top ml-0" href="diskusi-blog.html">Diskusi</a>
          </li>
        </ul>
      </div>
      <div class="col-md-8 no-padding-xs">

        <!-- container-search -->
        <div class="container-fluid no-padding">              

          <div class="input-group mb-3 backup-search-lawyer search-blog">
            <i class="fas fa-search mt-3 ml-2 grey-icon"></i>
            <input type="text" class="pl-2 form-control transparent-form" placeholder="Cari topic atau pertanyaan...">

            <div class="input-group-append">
              <button class="btn btn-primary btn-search btn-search-blog" type="button" >Cari</button>
            </div>
          </div>
        </div>
        <!-- container-search -->
      </div>
    </div>