<nav class="navbar navbar-expand-lg navbar-light set-navbar-xs fixed-top">
  <div class="container cont-nav">
    <a class="navbar-brand" href="#">
      <img src="images/logo-brand.png" height="29" alt="">
    </a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>       
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link menu-list-item" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown menu-list-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Layanan
          </a>
          <div class="dropdown-menu   animate slideIn" aria-labelledby="navbarDropdown">

           <!-- dropdown item -->
           <a class="dropdown-item" href="konsultasi-hukum.html">
            <img src="images/konsultasi-hukum.svg" class="img-icon-dropdown" alt="">
            <span class="backup-content-dropdown">
              <span class="title-content-dropdown">Konsultasi hukum</span>
              <span class="sub-content-dropdown d-none d-sm-block">Temukan pengacara yang cocok buatmu</span>
            </span>
          </a>
          <!-- dropdown item -->

          <!-- dropdown item -->
          <a class="dropdown-item" href="kontrak-hukum.html">
            <img src="images/smart-contract.svg" class="img-icon-dropdown" alt="">
            <span class="backup-content-dropdown">
              <span class="title-content-dropdown">Smart Contract</span>
              <span class="sub-content-dropdown d-none d-sm-block">Bikin kontrak mudah, tak perlu repot-repot</span>
            </span>
          </a>
          <!-- dropdown item -->

          <!-- dropdown item -->
          <a class="dropdown-item" href="kamus-hukum.html">
            <img src="images/kamus-hukum.svg" class="img-icon-dropdown" alt="">
            <span class="backup-content-dropdown">
              <span class="title-content-dropdown">Kamus Hukum</span>
              <span class="sub-content-dropdown d-none d-sm-block">Kata kata hukum susah dipelajari? Ah, kata siapa. Buka aja kamus hukum ini</span>
            </span>
          </a>
          <!-- dropdown item -->
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link menu-list-item" href="faq.html">FAQ</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link menu-list-item" href="tentang-kami.html">Tentang Kami</a>
      </li>

      <li class="nav-item active">   
        <a class="nav-link menu-list-item" href="hubungi-kami.html">Hubungi Kami</a> 
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="profile-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="images/user.svg" class="img-navbar-user" alt="">
        </a>
        <div class="dropdown-menu drop-menu-profile animate slideIn" aria-labelledby="profile-dropdown">

          <a class="dropdown-item item-menu-profile" href="profile.html">Profile</a>
          <a class="dropdown-item item-menu-profile" href="#">Riwayat Pembayaran</a>

          <div class="mt-4">
            <a class="dropdown-item item-menu-profile" href="histori-konsultasi.html">Histori Konsultan hukum</a>
            <a class="dropdown-item item-menu-profile" href="kata-fav-kamus-hukum.html">Kata  favorit kamus hukum</a>
            <a class="dropdown-item item-menu-profile" href="#">Kontrak hukum saya</a>
          </div>

          <div class="mt-4">
            <a class="dropdown-item item-menu-profile out-drop" href="#">Keluar</a>
          </div>

        </div>
      </li>
    </ul>
  </div>
</div>
</nav>
