<div class="container-fluid bg-backup-circle">
 <!-- app-product -->
 <div class="container-fluid product-app">
  <div class="container cont-product">
   <div class="row">
    <div class="col-md-6 col-sm-6">
     <p class="backup-img-timbangan">
      <img src="images/timbangan.png" class="img-timbangan" alt="">
    </p>	
    <h2 class="title-product">
      Bikin urusan hukum <span class="dif-color">jadi lebih mudah</span>
    </h2>
    <p class="content-product">Ini lho, caranya ngobrol sama pengacara yang cocok buatmu</p>
    <p>
      <a href="https://play.google.com/store/apps/details?id=com.heylaw&hl=en" target="_blank">
        <img src="images/playstore.png" class="img-about-app" alt="">
      </a>
    </p>
  </div>
  <div class="col-md-6 col-sm-6">
   <div class="backup-img d-none d-sm-block">
    <img src="images/cobain.png" class="img-fluid" alt="">
  </div>
</div>
</div>
</div>
</div>
<!-- app-product  -->

<!-- ------------------------------------------ -->

<!-- webinar section -->
<div class="container cont-webinar">
  <h2 class="title-services text-center">
   <span class="dif-color">Webinar</span>&nbsp;kami
 </h2>

 <div class="row">
   <!-- webinar -->
   <div class="col-lg-4 col-md-6 col-sm-12 backup-card-port" data-aos="fade-up">
    <div class="webinar">
     <img class="webinar-image" src="images/image-1.png" class="img-responsive">
     <div class="webinar-details">

      <p class="text-center play-icon">
       <a href="https://youtu.be/Je9q573oJQ4"><i class="fas fa-play"></i></a>
     </p>

     <div class="backup-webinar-text">
       <p class="webinar-text">
        Webinar #1
      </p>
    </div>

    <h3 class="webinar-content">
     <a href="https://youtu.be/Je9q573oJQ4">Mencegah PHK ditengah pandemi Covid-19</a>
   </h3>

 </div>
</div>
</div>
<!-- webinar -->

<!-- webinar -->
<div class="col-lg-4 col-md-6 col-sm-12 backup-card-port" data-aos="fade-up">
  <div class="webinar">
   <img class="webinar-image" src="images/image-2.png" class="img-responsive">
   <div class="webinar-details">

    <p class="text-center play-icon">
     <a href="https://youtu.be/km26hjKrtL8" target="_blank"><i class="fas fa-play"></i></a>
   </p>

   <div class="backup-webinar-text">
     <p class="webinar-text">
      Webinar #2
    </p>
  </div>

  <h3 class="webinar-content">
   <a href="https://youtu.be/km26hjKrtL8" target="_blank">Mencegah PHK ditengah pandemi Covid-19</a>
 </h3>

</div>
</div>
</div>
<!-- webinar -->

<!-- webinar -->
<div class="col-lg-4 col-md-6 col-sm-12 backup-card-port" data-aos="fade-up">
  <div class="webinar">
   <img class="webinar-image" src="images/image-3.png" class="img-responsive">
   <div class="webinar-details">

    <p class="text-center play-icon">
      <a href="https://youtu.be/x-HzJP39eVA" target="_blank"><i class="fas fa-play"></i></a>
   </p>

   <div class="backup-webinar-text">
     <p class="webinar-text">
      Webinar #3
    </p>
  </div>

  <h3 class="webinar-content">
   <a href="https://youtu.be/x-HzJP39eVA" target="_blank">Kebutuhan hukum koperasi dan UKM menghadapi New ...</a>
 </h3>

</div>
</div>
</div>
<!-- webinar -->


</div>
</div>
<!-- webinar section -->

</div>

<!-- ------------------------------------------ -->