<div class="container-fluid promotion-app d-md-none d-lg-block">
	
	<div class="container cont-promot-app">
		<div class="row">
			<div class="col-md-4">
				<img src="images/tesku.png" class="img-fluid img-hp d-none d-sm-block"  alt="">
				<img src="images/mockup-home.png" class="img-fluid img-hp
				d-sm-none d-md-none d-lg-none" alt="">
			</div>
			<div class="col-md-8 col-sm-12">
				<div class="backup-promotion-app-text" style="display: flex;">
					<h2 class="promotion-app-text">Dapatkan Aplikasinya di&nbsp;</h2>
					<p class="promotion-app-text mt-no-xs">
						<a href="https://play.google.com/store/apps/details?id=com.heylaw&hl=en" target="_blank">
							<img src="images/playstore.png" class="img-about-app no-mt" alt="">
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>