<div class="box no-padding">
  <div class="card-header card-head-blog">
    <p class="text-blue-blog mt-1 mb-0">Related topics</p>
  </div>
  <div class="card-body">
    <a href="#" class="btn btn-outline-secondary btn-spealisasi btn-sm">Hukum</a>
    <a href="#" class="btn btn-outline-secondary btn-spealisasi btn-sm">Covid</a>
    <a href="#" class="btn btn-outline-secondary btn-spealisasi btn-sm">Pandemi</a>
    <a href="#" class="btn btn-outline-secondary btn-spealisasi btn-sm">Corona</a>
    <a href="#" class="btn btn-outline-secondary btn-spealisasi btn-sm">Pembebasan</a>
    <a href="#" class="btn btn-outline-secondary btn-spealisasi btn-sm">Virus</a>
    <a href="#" class="btn btn-outline-secondary btn-spealisasi btn-sm">Hukum perusahaan</a>
    <a href="#" class="btn btn-outline-secondary btn-spealisasi btn-sm">Napi</a>
  </div>
</div>