<div class="container-fluid services-bg no-bg-other-page">
	<div class="container cont-about">
		<h2 class="title-services text-center">
			<span class="dif-color">Layanan</span>&nbsp;kami
		</h2>
		<div class="row backup-card bc-other-page">
			
			<!-- services card -->
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="services-card custom-services-card">

					<!-- bagian atas services -->
					<div class="bc-card">
						<p>
							<img src="images/konsultasi-hukum.svg" class="img-icon-services" alt="">
						</p>
						<p class="name-services">Konsultasi hukum</p>
					</div>
					<!-- bagian atas services -->

					<!-- content services -->
					<div class="bc-card-content">
						<p class="text-card-content">Temukan pengacara yang cocok buatmu</p>
					</div>
					<!-- content services -->

				</div>
			</div>
			<!-- services card -->

			<!-- services card -->
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="services-card custom-services-card">

					<!-- bagian atas services -->
					<div class="bc-card">
						<p>
							<img src="images/smart-contract.svg" class="img-icon-services" alt="">
						</p>
						<p class="name-services">Smart Contract</p>
					</div>
					<!-- bagian atas services -->

					<!-- content services -->
					<div class="bc-card-content">
						<p class="text-card-content">Bikin kontrak mudah, tak perlu repot-repot</p>
					</div>
					<!-- content services -->

				</div>
			</div>
			<!-- services card -->

			<!-- services card -->
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="services-card custom-services-card">

					<!-- bagian atas services -->
					<div class="bc-card">
						<p>
							<img src="images/kamus-hukum.svg" class="img-icon-services" alt="">
						</p>
						<p class="name-services">Kamus Hukum</p>
					</div>
					<!-- bagian atas services -->

					<!-- content services -->
					<div class="bc-card-content">
						<p class="text-card-content">Kata kata hukum susah dipelajari? Ah, kata siapa. Buka aja kamus hukum ini</p>
					</div>
					<!-- content services -->

				</div>
			</div>
			<!-- services card -->

		</div>
	</div>
</div>