<div class="container-fluid">
	<div class="container">
		<div class="col-lg-12">
			<h2 class="title-about konsul-title">
				Tata cara konsultasi
			</h2>
			
			<!-- step konsultasi -->
			<div class="backup-step-consultation">	
				<p class="number-step-consultation">1.</p>
				<p class="content-step-consultation">Masuk atau daftar dulu yah</p>
			</div>
			<!-- step konsultasi -->

			<!-- step konsultasi -->
			<div class="backup-step-consultation">	
				<p class="number-step-consultation">2.</p>
				<p class="content-step-consultation">Cari & pilih pengacara favoritmu</p>
			</div>
			<!-- step konsultasi -->

			<!-- step konsultasi -->
			<div class="backup-step-consultation">	
				<p class="number-step-consultation">3.</p>
				<p class="content-step-consultation">Lihat profil pengacara, biar cocok dengan seleramu :)</p>
			</div>
			<!-- step konsultasi -->

			<!-- step konsultasi -->
			<div class="backup-step-consultation">	
				<p class="number-step-consultation">4.</p>
				<p class="content-step-consultation">Pembayaran</p>
			</div>
			<!-- step konsultasi -->

			<!-- step konsultasi -->
			<div class="backup-step-consultation">	
				<p class="number-step-consultation">5.</p>
				<p class="content-step-consultation">Yeay pengacara siap berkonsultasi denganmu</p>
			</div>
			<!-- step konsultasi -->



			<h4 class="help-title">Bantuan</h4>
			<div class="row">
				
				<div class="col-lg-6">
					
					<div class="backup-contact-icon help-card">
						<p class="mb-2x">
							<img src="images/wa-icon.svg" class="help-icon" alt=""></p>
							<p class="mb-2x">
								<span class="name-contact">Whatsapp</span><br>
								<span class="val-contact"><a href="https://api.whatsapp.com/send?phone=6281380022929&text=" target="_blank">+6281380022929</a></span>
							</p>
						</div>
					</div>

					<div class="col-lg-6">

						<div class="backup-contact-icon help-card">
							<p class="mb-2x">
								<img src="images/email-icon.svg" class="help-icon" alt=""></p>
								<p class="mb-2x">
									<span class="name-contact">Email</span><br>
									<span class="val-contact"><a href="mailto:simetriz07@gmail.com" target="_blank">info@heylaw.id</a></span>
								</p>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>