<div class="card crd-contact mt-5">
	<div class="card-header contact-header-box d-flex">
		<p class="pp-disk-blog w-100">Diskusi</p>
		<p class="mb-0"><img src="images/bg-diskusi.png" class="img-fluid" alt=""></p>
	</div>
	<ul class="list-group list-group-flush">
		
		<!-- daftar list diskusi -->
		<li class="list-group-item contact-list">
			<p class="title-disk-blog text-blue-blog">Bagaimana permasalahan hukum ketika pandemi?</p>

			<div class="d-flex">
				<p><img src="images/avatar-blog/brian.png" class="img-user-blog" alt=""></p>
				<p class="name-user-blog">Marwan&nbsp;
					<span class="log-tanggal-disk">May 19, 2020 </span>
				</p>
			</div>

			<div class="d-flex mt-2">
				<p class="w-100 status-disk-blog">
					<i class="far fa-comment-alt"></i>&nbsp;<span>1</span>
					<i class="fa fa-eye ml-16"></i>&nbsp;<span>10</span>
				</p>
				<p>
					<a href="daftar-jawaban-blog.html" class="btn btn-primary float-none btn-sm btn-kirim btn-lihat-diskusi">
					Lihat</a>
				</p>
			</div>
		</li>
		<!-- daftar list diskusi -->

		<!-- daftar list diskusi -->
		<li class="list-group-item contact-list">
			<p class="title-disk-blog text-blue-blog">Apa yang menyebabkan kebijakan peraturan berubah-ubah?</p>

			<div class="d-flex">
				<p><img src="images/avatar-blog/dimas.png" class="img-user-blog" alt=""></p>
				<p class="name-user-blog">Dimas&nbsp;
					<span class="log-tanggal-disk">May 19, 2020 </span>
				</p>
			</div>

			<div class="d-flex mt-2">
				<p class="w-100 status-disk-blog">
					<i class="far fa-comment-alt"></i>&nbsp;<span>1</span>
					<i class="fa fa-eye ml-16"></i>&nbsp;<span>10</span>
				</p>
				<p>
					<a href="daftar-jawaban-blog.html" class="btn btn-primary float-none btn-sm btn-kirim btn-lihat-diskusi">
					Lihat</a>
				</p>
			</div>
		</li>
		<!-- daftar list diskusi -->

		<!-- daftar list diskusi -->
		<li class="list-group-item contact-list">
			<p class="title-disk-blog text-blue-blog">Jelaskan pemahaman saudara bahwa Ilmu hukum sebagai ilmu tentang... </p>

			<div class="d-flex">
				<p><img src="images/avatar-blog/andi.png" class="img-user-blog" alt=""></p>
				<p class="name-user-blog">Andi&nbsp;
					<span class="log-tanggal-disk">May 19, 2020 </span>
				</p>
			</div>

			<div class="d-flex mt-2">
				<p class="w-100 status-disk-blog">
					<i class="far fa-comment-alt"></i>&nbsp;<span>1</span>
					<i class="fa fa-eye ml-16"></i>&nbsp;<span>10</span>
				</p>
				<p>
					<a href="daftar-jawaban-blog.html" class="btn btn-primary float-none btn-sm btn-kirim btn-lihat-diskusi">
					Lihat</a>
				</p>
			</div>
		</li>
		<!-- daftar list diskusi -->

		<li class="list-group-item contact-list">
			<a href="" class="btn btn-block btn-outline-success btn-lg btn-diskusi-blog mt-3 mb-3">Lihat lebih</a>
		</li>

	</ul>
</div>
<br>
<br>
<br>