<div class="container-fluid d-sm-none d-md-none d-lg-none num-scroll-xs backup-xs-kontrak-saya mb-3">
  <p class="search-text-lawyer pad-title-xs-kontrak-saya">Kontrak hukum saya</p>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner row w-100 mx-auto" role="listbox">

      <!-- card lawyer -->
      <div class="carousel-item col-12 col-sm-12 col-md-6 col-lg-3 card-lawyer active">
        <div class="card item-card-lawyer">

          <p class="text-center backup-item-card-lawyer mb-0">
            <img src="images/icon-kontrak/icon-kerja-sama.svg" width="80" alt="">
          </p>

          <div class="card-body content-card-lawyer text-center">
            <p class="card-text mb-0"><a href="" class="link-xs-kontrak-saya">Perjanjian kerja</a></p>
            <p class="mb-0 on-status">
              <span class="online-text">Kontrak Hukum</span>
            </p>
            <div class="btn btn-block btn-chat bottom-kontrak-saya">
              <span>01 Januari 2020 I 1.0 Mb</span>
              <span><a href="" data-toggle="modal" data-target=".bd-example-modal-sm"> <i class="fas fa-ellipsis-v dop-icon"></i></a></span>
            </div>
          </div>
        </div>
      </div>
      <!-- card lawyer -->

      <!-- card lawyer -->
      <div class="carousel-item col-12 col-sm-12 col-md-6 col-lg-3 card-lawyer">
        <div class="card item-card-lawyer">

          <p class="text-center backup-item-card-lawyer mb-0">
            <img src="images/icon-kontrak/icon-sewa-menyewa.svg" width="80" alt="">
          </p>

          <div class="card-body content-card-lawyer text-center">
            <p class="card-text mb-0"><a href="" class="link-xs-kontrak-saya">Sewa menyewa</a></p>
            <p class="mb-0 on-status">
              <span class="online-text">Kontrak Hukum</span>
            </p>
            <div class="btn btn-block btn-chat bottom-kontrak-saya">
              <span>21 Desember 2020 I 1.0 Mb</span>
            </div>
          </div>
        </div>
      </div>
      <!-- card lawyer -->

    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="backup-icon-control">
        <span class="fas fa-angle-left icon-control-slider" aria-hidden="true"></span>
      </span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="backup-icon-control">
        <span class="fas fa-angle-right icon-control-slider" aria-hidden="true"></span>
      </span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Small modal -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-header head-login-popup head-xs-list-kontrak">
    <h5 class="modal-title" id="login-modalLabel">Action</h5>
    <a type="button" class="close close-list-kontrak" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </a>
  </div>
  <div class="modal-content content-popup-xs-list-kontrak">
  <div class="container-fluid">
    <div class="row pt-4 pb-4">
      <div class="col-md-12 col-sm-12 col-6">
        <a href="" type="button" class="btn btn-primary btn-kirim btn-block btn-choise-xs-kontrak">
          Download
          <span class="float-right">
            <img src="images/circle-download.svg"  alt=""> 
          </span>
        </a>
      </div>
      <div class="col-md-12 col-sm-12 col-6">
           <a href="" type="button" class="btn btn-primary btn-kirim btn-block btn-choise-xs-kontrak">
          Edit
          <span class="float-right">
            <img src="images/circle-edit.svg"  alt=""> 
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
<!-- small modal -->