<div class="container-fluid d-sm-none d-md-none d-lg-none num-scroll-xs">
 <p class="search-text-lawyer">History konsultasi </p>
 <div class="scrollmenu" id="chat-scroll">
   <div class="row">
    <div class="col-2">
      <p align="center" class="mb-0">
        <a href="#">
          <img src="images/foto-lawyer/fajar-romy.png" class="img-lawyer" alt="">
        </a>
      </p>
      <p class="circle chat-xs"></p>
    </div>

    <div class="col-2">
      <p align="center" class="mb-0">
        <a href="#">
          <img src="images/foto-lawyer/alfian.png" class="img-lawyer" alt="">
        </a>
      </p>
    </div>

    <div class="col-2">
      <p align="center" class="mb-0">
        <a href="#">
          <img src="images/foto-lawyer/soleh.png" class="img-lawyer" alt="">
        </a>
      </p>
    </div>
  </div>
</div>